.profile__edit-btn {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background: black url(../../../images/pen.png) no-repeat center;
    padding: 0;
    margin-bottom: 4px;
    transition: opacity 0.5s linear;
    cursor: pointer;
}

.profile__edit-btn:hover {
    opacity: 0.6;
}

@media (max-width: 600px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
    }
}