.gallery__text {
    font-family: Inter, Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    max-width: 221px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}