.header__line {
    opacity: 0.7;
    border: 1px solid #545454;
    margin-top: 41px;
    border-right: 0;
    border-left: 0;
}

@media (max-width: 600px) {
    .header__line {
        margin-top: 32px;
        width: 100%;
    }
}