.gallery__like {
    background: url(../../../images/Like.png);
    width: 21px;
    height: 19px;
    border: none;
    padding: 0;
    transition: opacity 0.5s linear;
}

.gallery__like:hover {
    opacity: 0.6;
}

.gallery__like:active {
    background: url(../../../images/dark-like.png);
    opacity: 1;
}