.gallery__like {
    background: url(../../../images/Like.png);
    width: 21px;
    height: 19px;
    border: none;
    padding: 0;
    transition: opacity 0.5s linear;
    cursor: pointer;
}

.gallery__like:hover {
    opacity: 0.5;
}