.footer {
    padding-top: 67px;
    width: calc(100% - 200px * 2);
    margin: 0 auto 60px;
}

@media (max-width: 997px) {
    .footer {
        width: calc(100% - 22px * 2);
    }
}

@media (max-width: 600px) {
    .footer {
        width: calc(100% - 19px * 2);
        padding-top: 50px;
        margin-bottom: 36px;
    }
}