.popup-add__submit-btn {
    width: calc(100% - 36px * 2);
    height: 50.15px;
    border: none;
    background-color: black;
    display: block;
    z-index: 10;
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px auto 36.51px;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.5s linear;
}

.popup-add__submit-btn:hover {
    opacity: 0.8;
}

@media (max-width: 600px) {
    .popup-add__submit-btn {
        width: calc(100% - 22px * 2);
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 17px;
        max-height: 46px;
    }
}